:root {
  --smalt-blue: #558790;
  --dove-gray: #666666;
  --boulder-gray: #7c7c7c;
  --silver-gray: #a0a0a0;
  --seashell-gray: #f1f1f1;
  --white: #ffffff;

  --page-padding: 37.5px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Droid Sans", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 33px 0;
}

h1, h2, h3, h4, h5 {
  line-height: 100%;
  margin: 0;
}